@import 'tailwindcss';

:root {
  --text-color: #000000
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color: #ffffff;
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@theme inline {
  --color-text: var(--text-color);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.animate-typing {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  border-right: 4px solid currentColor;
  animation: typing 3s steps(30, end) forwards, blink 0.8s step-end infinite;
}

@keyframes typing-line {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.animate-typing-line {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  border-right: 4px solid currentColor;
  width: 0;
  animation: typing-line 2s steps(30, end) forwards,
    blink 0.8s step-end infinite;
}
